{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}


<br>
<br>
<br>
<div class="row">
    <div class="columns">
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="log-in-form large-4 large-offset-4 medium-4 medium-offset-4">

    <h4 class="text-center">Log in with your account</h4>

    {% csrf_token %}
    {{ form.as_p}}

    <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
    <input type="submit" value="login" class="button expanded" />
    <input type="hidden" name="next" value="{{ next }}" />
    <p class="text-center"><a href="#">Forgot your password?</a></p>


    </div>

</div>






{% endblock %}