/*main*/

.main {
  padding: 80px 0px;

}

}
h1 a{
	color: #731f2a;
}

body {
  background: #f9f9f9;
}
.blog-post {
  background-color: #fff;
	border-color: #731f2a;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
  padding: 15px
}


img {
  max-width: 100% !important;
  height: auto !important;
  padding: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.demo {
  padding-top: 20px;
}


.top-bar, .top-bar ul {
	background-color: transparent;

}

.post-meta {
  margin: 1rem 0px;
  font-size: .8rem;
  color: #999;
}

.post-meta li a {
  color: #999;
}

.post-meta li a:hover {
  color: #1779ba;
}

.button a {
  color: white;
}

.post-title {
  text-align: center;
  margin-bottom: .5rem;
}

.post-title a {
  color: #333;
}

.post-title a:hover {
  color: #1779ba;
}

.read-more{
  text-align: center;
  margin-bottom: .5rem;
}

/*.column, .columns {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
} 
*/
.tags a {
  color: #fff;
}

.tags a:hover {
  color: #1779ba;
}

.share {
  text-align: right;
}

.media-object-section img {
  padding: 0px !important;
  border-radius: 100%;
  border: solid 2px #fff;
}

.media-object-section p {
  color: #5a5a5a
}

.media-object-section i {
  color: #731f2a;
  font-size: 1rem !important;
}

.media-object-section i:hover {
  color: #1779ba;
}

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.menu-hover-lines li a {
  padding: 0.75rem 0;
  color: #f9f2f2;
  /*color: rgba(10, 10, 10, 0.5);*/
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #1779ba;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #0a0a0a;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}


/*footer */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/* sticky top bar*/


.responsive-nav-social-mobile {
  background: #731f2a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left li {
  font-size: 1.5rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left li .fa {
  color: #fff;
  font-size: 1.2rem;
  margin-right: -0.7rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-right .menu-icon {
  margin-right: 1rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-right .menu-icon::after {
  padding-right: 1.5rem;
  background: #fff;
  box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
}

.responsive-nav-social {
  padding: 0.7rem;
  background-color: #731f2a;
}

.responsive-nav-social.is-stuck {
  width: 100%;
  box-shadow: 0px 4px 10px -2px rgba(128, 128, 128, 0.68);
}

.responsive-nav-social a {
  color: #8a8a8a;
  font-size: 0.8rem;
}

.responsive-nav-social a:hover {
  color: #4ec6cd;
  transition: color 0.2s ease-in;
}

@media screen and (max-width: 39.9375em) {
  .responsive-nav-social .menu li a {
    font-size: 0.6rem;
    padding: 1.2rem;
    color: #fff;
  }
  .responsive-nav-social li {
    border-bottom: 1px solid #fff;
  }
  .responsive-nav-social li:last-of-type {
    border: 0;
  }
  .responsive-nav-social .responsive-nav-social-left {
    width: 50%;
  }
  .responsive-nav-social .responsive-nav-social-left .menu.vertical a {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.responsive-nav-social .responsive-nav-social-right a {
  padding-right: 0.1rem;
}

.responsive-nav-social i.fa {
  font-size: 1.3rem;
  color: #fff;
}

.responsive-nav-social i.fa:hover {
  color: #4ec6cd;
  transition: color 0.2s ease-in;
}

.sticky-container {
  width: 100%;
}


/*footer landing */

#footer {
  font-size: small;
  background: transparent;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
}


/*hero*/


.hero-section {
  background: url("../img/background.a414f4538c6f.jpg") 50% no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  height: 92vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  /*text-shadow: 1px 1px 2px #0a0a0a;*/
}

/* button group */


.button-group-option {
  position: relative;
  text-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.button-group-option::before, .button-group-option::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.button-group-option::after {
  clear: both;
}

.button-group-option .button {
  margin: 0;
  margin-right: 1px;
  margin-bottom: 1px;
  font-size: 0.9rem;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.button-group-option .button:last-child {
  margin-right: 0;
}

.button-group-option .button {
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.button-group-option .button {
  font-size: 1.125rem;
}

.button-group-option:before {
  content: attr(data-grouptype);
  z-index: 1;
  color: #8a8a8a;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25em;
  border-radius: 5000px;
  background: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button-group-option .button + .button {
  margin-left: 0.35rem;
}

/* accordion */

.accordion-title {
  color: #731f2a;
}


/*login*/


.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
}

/* footer blog */

footer {

  background-color: #731f2a;
  padding-top: 30px;
  padding-left: 15px;
}


.bottom span {
  display: block;
  color: #e7e3f1;
  font-size: small;
}

.bottom span:hover {
  color: #1779ba;
}

.bottom p {
  color: #e7e3f1;
  font-size: small;

}

.bottom h4{
  color: #fff;
  padding-top: 10px;
}