<h1>{{ album.album_title }}</h1>
<h2>{{ album.artist }}</h2>

{% if error_message %}
	<p style='color: red;'><strong> {{ error_message }}</strong></p>
{% endif %}

<form action='{% url "music:favorite" album.id %}' method="post">
{% csrf_token %}
{% for item in album.song_set.all %}
	<input type="radio" id='item{{ forloop.counter }}' name="item" value="{{ item.id }}"/>
	<label for="item{{ forloop.counter }}">{{ item.song_title }}
	{% if item.is_favorite %}
		<img src='http://icongal.com/gallery/image/5527/bookmark_star_favorite.png'/>
	{% endif%}
		
	</label><br/>
	
{% endfor %}
<input type='submit' value='favorite'/>
</form>