<html>
 
 {% load staticfiles %}

 <head>
  <title> blog Post</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}"/>

 </head>
 
 <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
        <br/>

        <div>
            {% block content %}
            {% endblock %}
        </div>

    <script src="{% static 'js/foundation.min.js' %}"></script>
   </body>
</html>