<!doctype html>
<html class="no-js" lang="en" dir="ltr">
 {% load staticfiles %}

 <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">



  <title> Wellcome | Aulia</title>
  {% block head_extra%}
  {% endblock %}
 </head>
 
 <body datawhatinput="mouse">

  {% include 'blog/topbar.html' %}


    <!-- CONTENT -->

   {% block content %}
   {% endblock %}



     <!-- ckeditor -->
     <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
      <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
   </body>
</html>