<!-- footer blog -->
<footer class="bottom">
    <div class="wrap row small-up-1 medium-up-3">
        <div class="column">
         <h4>Contact Info</h4>
         <hr>
         
         <a href=""><span>Phone: 142 132 4321231</span></a>
         <a href=""><span>Email: gushoki@gmail.com</span></a>
         <a href=""><span>Street: 123 bakerstreet 212</span></a>
        </div>
        <div class="column">
         <h4>Site Map</h4>
         <hr>
         <a href=""><span>About Me</span></a>
         <a href=""><span>Services</span></a>
         <a href=""><span>Contact Me</span></a>
        </div>
        <div class="column">
        <h4>Social Media</h4>
         <hr>
         <a href=""><span>Facebook</span></a>
         <a href=""><span></i>Instagram</span></a>
         <a href=""><span></i>Twitter</span></a>
        </div>
    </div>
    <hr>
    <div class="wrap row small-up-1 medium-up-1">
        <div class="column text-center">
        <p>2017-Fatkurblog.com All Right Reversed Designed & Developed by <a href=''>Fatkur94</a></p>
        </div>
    </div>

</footer>
