<!-- footer blog -->
<footer>
    <div class="wrap row small-up-1 medium-up-3">
        <div class="column">
         <h4>Contact Info</h4>
         <hr>
         
         
         
         <i class="fa fa-mobile" aria-hidden="true"></i> <a href="#"><span>Phone</span> 142 132 4321231</a>
         <i class="fa fa-envelope" aria-hidden="true"></i><a href=""><span>Email</span> gushoki@gmail.com</a>
         <i class="fa fa-map-marker" aria-hidden="true"></i><a href=""><span>Street</span> 123 bakerstreet 212</a>
        </div>
        <div class="column">
         <h4>Site Map</h4>
         <hr>
         <a href="">About Me</a>
         <a href="">Services</a>
         <a href="">Contact Me</a>
        </div>
        <div class="column">
        <h4>Social Media</h4>
         <hr>
         <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i>Facebook</a>
         <a href=""><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
         <a href=""><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
        </div>
    </div>
    <hr>
    <div class="wrap row small-up-1 medium-up-1">
        <div class="column text-center">
        <p>2017-Fatkurblog.com All Right Reversed Designed & Developed by <a href=''>Fatkur94</a></p>
        </div>
    </div>

</footer>
