{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}


<div class="hero-section">
  <div class="hero-section-text">
  	<div class="row">
	<h1>You can change the world</h1>
	<br>
    <h5>In quo etsi est magnus, tamen nova pleraque et perpauca de moribus. Nunc ita separantur, ut disiuncta sint, quo nihil potest esse perversius. Teneo, inquit, finem illi videri nihil dolere. Quae fere omnia appellantur uno ingenii nomine, easque virtutes qui habent, ingeniosi vocantur. Cur post Tarentum ad Archytam? Quid, si etiam iucunda memoria est praeteritorum malorum? An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia?</h5>
    <br>
    <br>
    <div class="large-6 large-offset-3 medium-6 medium-offset-3 small-10 small-offset-1">
	<div class="button-group-option" data-grouptype="OR">
	  <a href="{% url 'blog:post_list' %}" class="button success radius">See My blog</a>
	  <a href="#" class="button primary radius">Portofolio</a>
	</div>

   

    <div id="footer">
    <p>Cover template for <a href="http://foundation.zurb.com">Foundation</a>, by <a href="https://twitter.com/fatkur_94">@fatkur94</a>.</p>
  	</div>

 
 </div>
</div>





{% endblock %}