{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}


	<div class="row">
	 <div class="columns large-12 small-12 text-center">
		<br>
		<br>
		<br>
		<h1>Changing the World Through CODE</h1>
		<br>
		<br>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo enim genera quae erant, fecit tria. Iam quae corporis sunt, ea nec auctoritatem cum animi partibus, comparandam et cognitionem habent faciliorem. In schola desinis. Memini vero, inquam; Magna laus. Satis est ad hoc responsum. Duo Reges: constructio interrete.</p>
		<br>

		<a class="button warning" href="#"><strong>SEE MY BLOG</strong></a>

		<a class="hollow button warning" href="#"><strong>SEE MY BLOG</strong></a>


	 </div>
	</div>
<br>
<br>
<br>
<br>

{% endblock %}