{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}


<div class="hero-section">
  <div class="hero-section-text">
  	<div class="row">
	<h1>Hi I'm Fatkur ;)</h1>
	<br>
    <h3>I build website design with foundation and website application with django</h3>
    <br>
    <br>
    <div class="large-6 large-offset-3 medium-6 medium-offset-3 small-12">
	<div class="button-group-option" data-grouptype="OR">
	  <a href="{% url 'blog:post_list' %}" class="button success">See My blog</a>
	  <a href="{% url 'portofolio:portofolio_list' %}" class="button primary">Portofolio</a>
	</div>

   

    <div id="footer">
    <p>Cover template for <a href="http://foundation.zurb.com">Foundation</a>, by <a href="https://twitter.com/fatkur_94">@fatkur94</a>.</p>
  	</div>

 
 </div>
</div>





{% endblock %}