{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}

<h3>{{ post.title }}</h3>
{% if post.published_date %}
	<p>{{ post.published_date }}</p>
{% else %}
	<a href="{% url 'blog:post_publish' post.pk %}">publish</a>
{% endif %}
<p>{{ post.text }}</p>
<a class='fi-page-edit' href="{% url 'blog:post_edit' post.pk %}"></a>
<button class="hollow button warning"><a class='fi-page-delete' href="{% url 'blog:post_delete' post.pk %}"></a></button>
<i class="fi-page-delete"></i>

{% endblock %}