{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}



<br>
<br>
<br>
<div class="row">

	<div class="column medium-9 medium-offset-1">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
    <div class="callout success">
    	{{ message }}
	</div>
    </li>
    {% endfor %}
</ul>
{% endif %}

		<h3 class="text-center">{{ post.title }}</h3>
		
		<div class="columns medium-4">
			{% if post.published_date %}
			<p>published:{{ post.published_date }}</p></li>
			{% else %}
			<a href="{% url 'blog:post_publish' post.pk %}" class="hollow button alert">publish</a></li>
			{% endif %}
		</div>
		<div class="columns medium-4">
			<p>Author: <span>{{ post.author.get_full_name }}</span></p></li>
		</div>
		<div class="columns medium-4">
			<a href="{% url 'blog:post_edit' post.pk %}" class="hollow button warning">Edit</a>
			<a href="{% url 'blog:post_delete' post.pk %}" class="hollow button warning">Delete</a>
		</div>

		<hr>
																			
		{% if post.image %}
		<img src='{{ post.image.url }}'>
		{% endif %}
		<p>{{ post.text|safe }}</p>
		<h1 class="text-center">{{ post.category }}</h1>

		
	</div>

</div>

{% include 'blog/footer.html' %}

{% endblock %}