

<div class="blog-post">
  <form method="GET" action="">
    <div class="input-group input-group-rounded">
      <input class="input-group-field" type="search" name="q" placeholder="Search posts" value="{{ requset.GET.q }}">
        <div class="input-group-button">
          <input type="submit" class="button secondary" value="Search">
        </div>
    </div>
  </form>
</div>

<br>

<div class="blog-post">
  <h4>About Me</h4>
    <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo enim genera quae erant, fecit tria. Iam quae corporis sunt, ea nec auctoritatem cum animi partibus, comparandam et cognitionem habent faciliorem. In schola desinis. Memini vero, inquam; Magna laus. Satis est ad hoc responsum. Duo Reges: constructio interrete. Positum est a nostris in iis esse rebus, quae secundum naturam essent, non dolere; Tum Piso: Quoniam igitur aliquid omnes</p>
</div>

<br>

<div class="blog-post">
    <a class="twitter-timeline" data-height="400" href="https://twitter.com/fatkur_94">Tweets by fatkur_94</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<br>

<div class="blog-post">
    <h4>Categories</h4>
    <hr>
    <ul>
      {% for cat in categories %}
        <li><a href="#">{{ cat }}</a></li>
      {% endfor %}
    </ul>

</div>