<div class="callout">
<h1>Side Bar</h1>
<hr>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo enim genera quae erant, fecit tria. Iam quae corporis sunt, ea nec auctoritatem cum animi partibus, comparandam et cognitionem habent faciliorem. In schola desinis. Memini vero, inquam; Magna laus. Satis est ad hoc responsum. Duo Reges: constructio interrete. Positum est a nostris in iis esse rebus, quae secundum naturam essent, non dolere; Tum Piso: Quoniam igitur aliquid omnes</p>
</div>