
<!-- 

<div class="mobile-nav-bar title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">

    <div class="title-bar-right">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    </div>

  <div class="title-bar-left">
    <a href="{% url 'blog:post_list' %}"><i class="fi-home title-bar-logo"></i></a>
  </div>
</div>


<div class="top-bar" id='responsive-menu'>
  <div class="row">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a href="{% url 'home' %}"><strong>AULIA</strong></a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown vertical medium-horizontal menu menu-hover-lines" data-dropdown-menu>
      <li><a href="{%url 'home' %}"><strong>HOME</strong></a></li>
      <li><a href="{% url 'blog:post_list' %}"><strong>BLOG</strong></a></li>
      <li><a href="#0"><strong>PORTOFOLIO</strong></a></li>
      <li><a href="#"><strong>ABOUT</strong></a></li>
      <li><a href="#"><strong>CONTACT</strong></a></li>
      <li><a href="#"><strong></strong></a></li>
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button"><strong>SEARCH</strong></button></li>
    </ul>
  </div>
  </div>
</div>

<div id="page">
  <div class="top-bar-container" data-sticky-container>
    <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
      <div class="top-bar" id='responsive-menu'>
          <div class="top-bar-left">
            <ul class="dropdown vertical medium-horizontal menu menu-hover-lines" data-dropdown-menu>
              <li class="menu-text"><strong>Site Title</strong></li>
              <li><a href="#"><strong>HOME</strong></a></li>
              <li><a href="#"><strong>BLOG</strong></a></li>
              <li><a href="#"><strong>PORTOFOLIO</strong></a></li>
              <li><a href="#"><strong>ABOUT</strong></a></li>
              <li><a href="#"><strong>CONTACT</strong></a></li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li>
                <input type="search" placeholder="Search">
              </li>
              <li>
                <button type="button" class="button">Search</button>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>

 -->

<!-- Use these stylesheets for icons and typography in head of your HTML doc if you want :) -->

<!-- Start of body below -->

<div class="responsive-nav-social-mobile" data-responsive-toggle="responsive-nav-social" data-hide-for="medium">
  <div class="responsive-nav-social-mobile-left">
    <ul class="menu">
      <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div class="responsive-nav-social-mobile-right">
    <button class="menu-icon" type="button" data-toggle="responsive-nav-social"></button>
  </div>
</div>

<div data-sticky-container>
  <div class="responsive-nav-social top-bar" id="responsive-nav-social" data-sticky data-options="marginTop:0;">
    <div class="row align-justify align-middle" id="responsive-menu">
      <div class="responsive-nav-social-left top-bar-left">
        <ul class="menu vertical medium-horizontal">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Travel</a></li>
          <li><a href="#">Eat</a></li>
          <li><a href="#">Relax</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </div>
      <div class="responsive-nav-social-right top-bar-right hide-for-small-only">
        <ul class="menu">
          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

