<p>this is all the list book</p>
{% if errors %}
<ul>
 {% for error in errors%}
  <li style=' color: red;'>{{ error }}</li>
 {% endfor %}
</ul>
{% endif %}

<form action='' method="get"> {% csrf_token%}
	<input type="text" name='q' placeholder="e.g django" />
	<input type='submit' value='search'/>
</form>

<ol>
{% for list in all %}
	<li><table>
<thead>
	<td><strong>Title</strong></td>
	<td><strong>Author</strong></td>
	<td><strong>Publisher</strong></td>
	<td><strong>Publish</strong></td>
</thead>
<tr>
	<td>{{ list.title }}</td>
	<td>{% for a in list.author.all %}{{ a }} {% endfor %}</td>
	<td>{{ list.publisher }}</td>
	<td>{{ list.pub_date }}</td>
</tr>
	</table></li>
	<br/>
{% endfor %}
</ol>